<div class="panel panel-default">

  <div class="panel-body">
    <div class="panel panel-default" >
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-8">
            <h2>Generate pairs</h2>
          </div>
          <div class="col-md-4">
            <%= link_to 'Generate pairs', pairs_path , method: :get, class: 'btn btn-default pull-right pull-down' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
