<div class="panel panel-default">

  <div class="panel-body">
    <div class="panel panel-default" >
      <div class="panel-heading">
        <h2>Admins</h2>
      </div>
      <% @admins.each do |admin| %>
        <div class="panel-heading">
          <%=" #{admin.first_name}  #{admin.last_name}" %>
          <%= link_to 'Demote to student', set_admin_path(admin, 'false'), method: :patch , class: 'btn btn-default pull-right pull-up' %>
        </div>
      <% end %>
    </div>

    <div class="panel panel-default" >
      <div class="panel-heading">
        <h2>Students</h2>
      </div>
      <% @students.each do |student| %>
        <div class="panel-heading">
          <%= "#{student.first_name}  #{student.last_name}" %>
          <%= link_to 'Promote to admin', set_admin_path(student, 'true'), method: :patch , class: 'btn btn-default pull-right pull-up' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
