<div class="panel panel-default">

  <div class="panel-body">
    <div class="panel panel-default" >
      <div class="panel-heading">
        <h2>Admins</h2>
      </div>
      <% @admins.each do |admin| %>
        <div class="panel-heading">
          <%= admin.email %>
          <%= link_to 'Disapointed', set_admin_path(admin, 'false'), method: :put , class: 'btn btn-default pull-right' %>
        </div>
      <% end %>
    </div>

    <div class="panel panel-default" >
      <div class="panel-heading">
        <h2>Students</h2>
      </div>
      <% @students.each do |student| %>
        <div class="panel-heading">
          <%= student.email %>
          <%= link_to 'Promote to admin', set_admin_path(student, 'true'), method: :put , class: 'btn btn-default pull-right' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
