<div class="form-group pull-right pull-down">
    <label for="day">Day</label>
    <%= datetime_local_field :day, class: "form-control" %>
    <%= link_to %>
    <button type="button" class="btn btn-default pull-right mleft">Generate pairs</button> 
  </div>
