<div class="panel panel-default">

  <div class="panel-body">
    <div class="panel panel-default" >
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-7">
            <h2>Overview pairs</h2>
          </div>
        </div>
      </div>
        <div class="panel-heading panel-height">
          <%= link_to 'Save', "set_admin_path(admin, 'false')", method: :patch , class: 'btn btn-default pull-right pull-up' %>
          <%= link_to 'Generate pairs', "set_admin_path(admin, 'false')", method: :patch , class: 'btn btn-default pull-right pull-up' %>

      </div>

    </div>
  </div>
    </div>
