<div class="panel panel-default">
  <div class="panel-body">
    <div class="panel panel-default" >
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-7">
            <h2>Overview pairs</h2>
          </div>
        </div>
      </div>
      <% @pairs.each do |pair| %>
        <div class="panel-heading">
            <%=" #{pair.user.first_name}  #{pair.matched_id}" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
