/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.datestyle{
  padding-left:15px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 17px;
}
.fsize {
  font-size: 17px;
}

 .panel-height {
   font-size: 17px;
 }

 .spacer-login{
    height: 50vh;
 }

 .pull-up {
   margin-top: -4px ;
 }

 .signupbar {
   margin-top: -20px;
 }

 img {
  display: block;
  margin: 0 auto;
 }

 .mleft {
   margin-left: 4px;
 }

 .pull-down {
   margin-top: 30px;
 }

 .panel-height {
   min-height: 47px;
 }

 .datefield {
   width: 170px;
   margin-left: 60px;
 }

 .pull-up-buttons{
   margin-top: -32px;
 }
